---
  import Page from "../layouts/PageStructure.astro"
---

<Page 
  title="Our Company" 
  description="Founded in 2010, we are a creative agency that produces lasting results for our clients. We’ve partnered with many startups, corporations, and nonprofits alike to craft designs that make real impact. We’re always looking forward to creating brands, products, and digital experiences that connect with our clients' audiences."
>
  <h1>Our company</h1>
</Page>
