---
  import Page from "../layouts/PageStructure.astro"
---

<Page 
  title="Contact Us" 
  description="Ready to take it to the next level? Let’s talk about your project or idea and find out how we can help your business grow. If you are looking for unique digital experiences that’s relatable to your users, drop us a line."
>
  <h1>Contact</h1>
</Page>
