---
  import Page from "../layouts/PageStructure.astro"
---

<Page 
  title="Home" 
  description="Let’s talk about your project! Ready to take it to the next level? Contact us today and find out how our expertise can help your business grow."
>
  <h1>Locations</h1>
</Page>
