<script>
  function openMenu() {
    const nav = document.getElementById("header-navigation");
    const html = document.querySelector("html");

    html.classList.toggle("navbar-active")
    nav.classList.toggle("active");
  }
</script>

<header class="container">
  <a class="logo" href="/">
    <img src="/assets/logo.svg" alt="Designo">
  </a>
  <button class="toggler" onclick="openMenu()">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <nav id="header-navigation" class="navigation">
    {['about', 'locations', 'contact'].map(item => (
      <a href={`./${item}`}>{item}</a>
    ))}
  </nav>
</header>

<style lang="scss">
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 96px;
    padding: 0 24px;

    .logo {
      height: 27px;

      img {
        height: 27px;
        width: 202px;
      }
    }

    .toggler {
      background: transparent;
      border: none;
      cursor: pointer;
      
      span {
        background: #1D1C1E;
        height: 4px;
        width: 24px;
        display: block;
      }

      span + span {
        margin-top: 4px;
      }
    }

    .navigation {
      position: absolute;
      width: 100%;
      left: 0;
      top: 96px;
      background: #1D1C1E;
      display: flex;
      flex-direction: column;
      padding: 0 24px;
      align-items: center;
      justify-content: center;
      height: 0;
      overflow: hidden;
      transition: height 0.3s ease;

      &.active {
        height: 200px;
      }
    }
  }
</style>